<script type="text/javascript">
$(document).ready(function() {
	$(".income-category").select2({
		tags: true
	});
});
</script>

<h2 class="page-header">Add Income</h2>
{{#if errors}}
{{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}}
{{/if}}
<div class="col-lg-4">
	<form action="/finance/income" method="post">
		<div class="form-group">
			<label for="category">Category</label>
			<select class="form-control income-category" id="category" name="category">
				<option value="Salary">Salary</option>
				<option value="Bonus">Bonus</option>
			</select>
		</div>
		<div class="form-group">
			<label for="amount">Amount</label>
			<div class="input-group">
				<div class="input-group-addon">$</div>
				<input type="text" class="form-control" id="amount" name="amount">
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Add Income</button>
	</form>
</div>