<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/addIncome"><span class="glyphicon glyphicon-usd"></span> Add Income</a>
      </li>
      <li>
        <a href="/addExpense"><span class="glyphicon glyphicon-plus"></span> Add Expense</a>
      </li>
      <li>
        <a href="/list"><span class="glyphicon glyphicon-th"></span> View All</a>
      </li>
    </ul>
  </div>
</nav>
