<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript">
  $(document).ready(function() {
    $(".income-category").select2({
      tags: true
    });
  });
  </script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">

    <%if (typeof result == 'boolean' && result) { %>
    <p class="bg-success"><span class="glyphicon glyphicon-thumbs-up"></span> Income added successfully</p>
    <% } %>

    <%if (typeof result == 'boolean' && !result) { %>
    <p class="bg-danger"><span class="glyphicon glyphicon-thumbs-down"></span> Error occurred when adding income. Please try again</p>
    <% } %>

    <h2>Add Income</h2>

    <form class="form-inline" action="" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="item">Category</label>
        <select class="form-control income-category" id="item" name="item" style="width: 200px;">
          <option value="Salary">Salary</option>
          <option value="Bonus">Bonus</option>
        </select>
      </div>
      <div class="form-group" style="padding-left: 10px;">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount" name="amount" placeholder="Enter amount">
      </div>
      <input type="hidden" name="type" value="Income">
      <button type="submit" class="btn btn-primary">Add Income</button>
    </form>

  </div>

</body>
</html>
