<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/header.ejs %>
	<% 
		function formatCurrency(n) {
		    return "$" + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
		}
	%>
</head>

<body>
	<% include ../partials/nav.ejs %>
	<div class="container">
		<h2>Results</h2>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="thead-inverse">
					<tr>
						<th>Item</th>
						<th>Expense</th>
						<th>Income</th>
					</tr>
				</thead>
				<tbody>
					<% var net = Number(0); %>
					<% results.forEach(function(r) { %>
					<tr>
						<td><%= r.item %></td>
						<% if(r.type == 'Income') { net = net + Number(r.amount); %>
							<td></td>
							<td><%= formatCurrency(Number(r.amount)) %></td>
						<% } else { net = net - Number(r.amount); %>
							<td><%= formatCurrency(Number(r.amount)) %></td>
							<td></td>
						<% } %>
					</tr>
					<% }); %>
				</tbody>
			</table>
			<b>Net - <%= formatCurrency(net) %></b>
		</div>
	</div>
</body>
</html>
